<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sowingo Front-end interview test - Brennan Kolotinsky</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.js"></script>
  <script src="js/main.js"></script>
  


  <div class="container" ng-app="sowingoModule" ng-controller="sowingoController">
    <!-- <span ng-repeat="product in productData">
      <br ng-if="!($index % 4)" />
      <span class="col-lg-4">
          <img src="{{ product.images[0].image }}">
      </span>
    </span> -->


    <!-- <div class="row">
      <div ng-repeat="product in productData">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-lg-4">
            <img src="{{ product.images[0].image }}">
        </div>
      </div>
    </div>
 -->
    <div ng-repeat="product in productData" ng-if="$index % 4 == 0" class="row">
      <div class="col-3" ng-if="productData[$index]">
        <img src="{{ productData[$index].images[0].image }}">
        <p>{{ productData[$index].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 1]">
        <img src="{{ productData[$index + 1].images[0].image }}">
        <p>{{ productData[$index + 1].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 2]">
        <img src="{{ productData[$index + 2].images[0].image }}">
        <p>{{ productData[$index + 2].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 3]">
        <img src="{{ productData[$index + 3].images[0].image }}">
        <p>{{ productData[$index + 3].name }}</p>
      </div>
    </div>


      <!-- <div class="row">
        <div class="product" ng-repeat="x in productData" ng-if="$index % 4 == 0" class="row">
          <h2>here</h2>

          <div ng-if="($index + 5) % 4 == 1" class="row">
            <div class="col-3">
              <h1>{{ $index }} here</h1>
              <img src="{{ x.images[0].image }}">
            </div>
          </div>

          <div ng-if="($index + 5) % 4 !== 1">
            <div class="col-3">
              <h1>{{ $index }} here</h1>
              <img src="{{ x.images[0].image }}">
            </div>
          </div>
        </div> -->
    </div>
</body>

</html>
