<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sowingo Front-end interview test - Brennan Kolotinsky</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.2/angular-material.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- angular code -->
  <script src="js/main.js"></script>

  <div class="container" ng-app="sowingoModule" ng-controller="sowingoController">   

    <img class="logo" src="images/sowingo-logo.jpeg">

      <div class="searchBox">
        
        <md-content layout-padding="">
            <form name="userForm">
              <md-input-container>
                <div class='searchBlock'>
                  <i class="material-icons paddingTop">
                    search
                  </i>
                  <input class='searchBar' type="text" ng-model="startingSearch.word" ng-change="search();">
                </div>
                <label>Search by product name, manufacturer, SKU, keyword</label>
              </md-input-container>
            </form>
        </md-content>
      </div>

    <div ng-repeat="product in productData" ng-if="$index % 4 == 0" class="row">
      <div class="col-3" ng-if="productData[$index]">
        <img ng-if="productData[$index].images[0].image" class ='prodImage' src="{{ productData[$index].images[0].image }}">
        <img ng-if="!productData[$index].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

        <p>{{ productData[$index].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 1]">
        <img ng-if="productData[$index + 1].images[0].image" class='prodImage' src="{{ productData[$index + 1].images[0].image }}">
        <img ng-if="!productData[$index + 1].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

        <p>{{ productData[$index + 1].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 2]">
        <img ng-if="productData[$index + 2].images[0].image" class='prodImage' src="{{ productData[$index + 2].images[0].image }}">
        <img ng-if="!productData[$index + 2].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

        <p>{{ productData[$index + 2].name }}</p>
      </div>
      <div class="col-3" ng-if="productData[$index + 3]">
        <img ng-if="productData[$index + 3].images[0].image" class='prodImage' src="{{ productData[$index + 3].images[0].image }}">
        <img ng-if="!productData[$index + 3].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

        <p>{{ productData[$index + 3].name }}</p>
      </div>
    </div>
  </div>
</body>

</html>
