<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sowingo Front-end interview test - Brennan Kolotinsky</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- angular code -->
  <script src="js/main.js"></script>
</head>



<body class='body'>

  <div ng-app="sowingoModule" ng-controller="sowingoController">
    <div class="container">
      <img class="logo" src="images/sowingo-logo.jpeg">

      <form layout layout-align="center" layout-padding>
        <div layout="row" flex>
          <md-input-container flex class="md-icon-float md-block md-title">
              <label>Search by product name, manufacturer, SKU, keyword</label>
              <!-- below is the material icons -->
              <md-icon class="material-icons">search</md-icon>
              <input type="text" ng-model="currentSearch.word" ng-change="search();">
          </md-input-container>
        </div>  
      </form>

      <md-button class="Primary" ng-if="!displayingLiked" ng-click="displayCart($event)">View Cart</md-button>
      <md-button class="Primary" ng-if="!displayingCart" ng-click="displayLiked($event)">View Liked</md-button>

      <hr>

      <div ng-repeat="product in productData" ng-if="$index % 4 == 0" class="row">
        <div id="{{ productData[$index].id }}" class="col-3 product" ng-if="productData[$index]">
          <img ng-if="productData[$index].images[0].image" class ='prodImage' src="{{ productData[$index].images[0].image }}">
          <img ng-if="!productData[$index].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

          <p class='prodName'>{{ productData[$index].name }}</p>

          <p class='pricing'>Your Price: $ {{ productData[$index].vendor_inventory[0].list_price }}</p>

          <i class="material-icons heart" ng-click="like($event, productData[$index])">favorite_border</i>
          <i class="material-icons cart" ng-click="addToCart($event, productData[$index])">shopping_cart</i>

        </div>
        <div id="{{ productData[$index + 1].id }}" class="col-3 product" ng-if="productData[$index + 1]">
          <img ng-if="productData[$index + 1].images[0].image" class='prodImage' src="{{ productData[$index + 1].images[0].image }}">
          <img ng-if="!productData[$index + 1].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

          <p class='prodName'>{{ productData[$index + 1].name }}</p>

          <p class='pricing'>Your Price: $ {{ productData[$index + 1].vendor_inventory[0].list_price }}</p>

          <i class="material-icons heart" ng-click="like($event, productData[$index + 1])">favorite_border</i>
          <i class="material-icons cart" ng-click="addToCart($event, productData[$index + 1])">shopping_cart</i>

        </div>
        <div id="{{ productData[$index + 2].id }}" class="col-3 product" ng-if="productData[$index + 2]">
          <img ng-if="productData[$index + 2].images[0].image" class='prodImage' src="{{ productData[$index + 2].images[0].image }}">
          <img ng-if="!productData[$index + 2].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

          <p class='prodName'>{{ productData[$index + 2].name }}</p>

          <p class='pricing'>Your Price: $ {{ productData[$index + 2].vendor_inventory[0].list_price }}</p>

          <i class="material-icons heart" ng-click="like($event, productData[$index + 2])">favorite_border</i>
          <i class="material-icons cart" ng-click="addToCart($event, productData[$index + 2])">shopping_cart</i>

        </div>
        <div id="{{ productData[$index + 3].id }}" class="col-3 product" ng-if="productData[$index + 3]">
          <img ng-if="productData[$index + 3].images[0].image" class='prodImage' src="{{ productData[$index + 3].images[0].image }}">
          <img ng-if="!productData[$index + 3].images[0].image" class ='prodImage' src="https://static.wixstatic.com/media/25f678_9931d0993f6c43ccb87f2ab04b2665bd~mv2_d_1200_1200_s_2.jpg/v1/fill/w_1200,h_1200,al_c,q_90/file.jpg">

          <p class='prodName'>{{ productData[$index + 3].name }}</p>

          <p class='pricing'>Your Price: $ {{ productData[$index + 3].vendor_inventory[0].list_price }}</p>

          <i class="material-icons heart" ng-click="like($event, productData[$index + 3])">favorite_border</i>
          <i class="material-icons cart" ng-click="addToCart($event, productData[$index + 3])">shopping_cart</i>

        </div>
      </div>

    </div>
    <div ng-if="loaded" class='footer'></div>
  </div>

</body>
</html>
