/*@img-size: 200px;*/

img.prodImage {
	height: 240px;
	width: 240px;
	border: 1px solid black;
	margin-top: 12px;
}

img.logo {
	margin-top: 32px;
	height: 135px;
	width: 198px;
}

.fontAwesome {
	font-size: 32px;
}

div.searchBox {
	margin: 0 0 32px 0;
}

body.body {
}

.searchBar {
	width: 500px;
}

.searchBlock {
	height: 30px;
}

p.prodName {
	padding-top: 12px;
	height: 100px;
	text-align: center;
}

.pricing {
	text-align: center;
}

.heart {
	border: 1px solid red;
	/*margin-left: 140px;*/
	float: right;
	color: red;
}

.liked {
	background-color: black;
}

.inCart {
	background-color: aqua;
}

.cart {
	border: 1px solid black;
	float: right;
	margin-bottom: 12px;
	margin-right: 6px;
}

.product {
	border: 1px solid rgb(255, 230, 234);
	background-color: rgba(255, 230, 234, 0.5);
}

.footer {
	margin-top: 80px;
	height: 160px;
	background-color: black;
}