/*@img-size: 200px;*/

img.prodImage {
	height: 200px;
	width: 200px;
	border: 1px solid black;
}

img.logo {
	height: 135px;
	width: 198px;
}

.fontAwesome {
	font-size: 32px;
}

div.searchBox {
	margin: 0 0 32px 0;
}

.searchBar {
	width: 500px;
}

.searchBlock {
	height: 30px;
}